* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #337ab7;
}

ul {
    list-style: none;
    padding: 0;
}

body {

    font-family: "Open Sans";
}

#wrapper {

    background-color: #f5f1e6;
}

#header {
    background-color: #fff;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

#header #top-logo {
    flex: 20%;

}

/* TOP-NAV */

#header #nav {
    background-color: #fff;
    flex: 60%;
}

#header #nav .main-menu {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

#header #nav .main-menu li {
    position: relative;
    margin-right: 32px;
}

/* Style the links inside the navigation bar */
#header #nav .main-menu li a {
    color: #222;
    text-align: center;
    margin: 30px 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    display: block;
}

#header #nav .main-menu .sub-menu {
    position: absolute;
    display: none;
    background: #fff;
    min-width: 200px;
}

#header #nav .main-menu .sub-menu>li>a:first-child {
    margin-top: 0;
}

#header #nav .main-menu .sub-menu .sub-menu {
    left: 163px;
    min-width: 200px;
    top: 0;
}

#header #nav .main-menu li:hover>.sub-menu {
    display: block;
}

/* Change the color of links on hover */
#header #nav .main-menu li a:hover {
    color: #dca447;
}

/* Add a color to the active/current link */
#header #nav .main-menu li a.active {
    border-bottom: 3px solid #dca447;
}

/* FORM SEARCH */

#header #form-search {
    flex: 20%;
    display: flex;
    align-items: center;
}

#header #form-search input[type=text] {
    width: 130px;
    height: 30px;
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#header #form-search input[type=text]:focus {
    width: 260px;
}

#header #form-search button {
    height: 30px;
    border: 2px solid #e4e4e4;
    color: #8c8c8c;
}

/* CONTENT */

/* BANNER */

#content .banner {
    position: relative;
    margin-top: 85px;
    z-index: 1;
}

#content .banner img {
    width: 100%;
    height: 100%
}

#content .banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    bottom: 0;
}

#content .banner .banner-text {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: .03em;
    color: #fff;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'GaramondPremrPro';
    text-align: center;
}

/* ANIMATE-TEXT */

#content .banner h1 {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 13px;
}


/* @keyframes text {
    0% {
        width: 0ch;
    }

    50% {
        width: 45ch;
    }
} */

/* SLOGAN */

#content .slogan {
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    color: #162b75;
    font-family: 'GaramondPremrPro';
    margin: 65px;
}

.slogan .box-1 {
    max-width: 810px;
    margin: 0px auto;
    font-size: 50%
}

#content .slogan .box-2 {
    background: #fff;
    border-radius: 3px;
    max-width: 1133px;
    margin: 20px auto;
    border: 1px solid #dca4474d;
    display: flex;
    border-right: 1px solid #eeeeee;
}

.slogan .box-2 a {
    display: flex;
    align-items: center;
    padding: 18px;
    border-right: 1px solid #eeeeee;

}


.slogan .box-2 a img {
    max-width: 40px;
    margin: 0px 20px;
}

.slogan .box-2 a div {
    margin-right: 20px;
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #222;
    text-transform: uppercase;
}

.slogan .box-2 a:hover {
    background-color: rgb(220 164 71 / 85%);
    color: #fff;
    text-decoration: none;
}

/* SLIDE */

.box-4 {
    background: #e5d2ae;
    padding-top: 95px;
}

.box-4 .box-4-1 {
    width: 1170px;
    margin: 0px auto;
    margin-bottom: 40px;
}

.box-4 .box-4-1 .box-4-1-1 {
    max-width: 506px;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: .03em;
    color: #162b75;
    font-family: 'GaramondPremrPro';
    margin-bottom: 20px;
}

.box-4 .box-4-1 .box-4-1-2 {
    max-width: 506px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #222;
    margin-bottom: 30px;
}

.box-4 .box-4-1 .box-4-1-btn {
    border: 1px solid #162b75;
    box-sizing: border-box;
    border-radius: 3px;
    color: #162b75;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
    width: 195px;
    align-items: center;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1170px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/* DISPLAY-CONTENT */

.wp-display-content {
    width: 1170px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    margin-top: 40px;
    ;
}

.wp-display-content .display-content {
    width: 370px;
}

.wp-display-content .display-content .image img {
    height: 240px;
    transition: .3s;
    width: 100%;
}

.wp-display-content .display-content .content {
    background: #fff;
    padding: 40px;
    transition: .3s;
    text-align: left;
}

.wp-display-content .display-content .content .title {
    font-family: GaramondPremrPro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    color: #222;
    margin: auto;
    transition: .3s;
}

.wp-display-content .display-content .content .excerpt {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    color: #222;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
}

.wp-display-content .display-content:hover .image img {
    height: 160px;
}

.wp-display-content .display-content:hover .content {
    background: #f4e7c8;
}

.wp-display-content .display-content:hover .content .excerpt {
    height: 80px;
    opacity: 1;
    visibility: visible;
}

.wp-display-content .display-content .content h3 {
    font-weight: 400;
}

.wp-display-content .display-content:hover .content h3 {
    color: #222;
    font-weight: 600;
}

.wp-display-content .display-content:hover .content a {
    color: #dca447;
    text-decoration: none;

}


/* FOOTER */

#wp-footer {
    margin-top: 90px;
    border-top: 2px solid #dca447;
}

#wp-footer #footer {
    display: flex;
    justify-content: space-around;
}

#wp-footer #footer #about-us {
    margin-left: 40px;
    margin-top: 40px;
}

#wp-footer #footer #about-us .box-body {
    margin-top: 15px;
}

#wp-footer #footer #about-us .box-body .company-info li i {
    margin-right: 10px;
}

#wp-footer #footer #follow-us {
    margin-top: 40px;
}

#wp-footer #footer #follow-us .box-body .list-social {
    display: flex;
}

#wp-footer #footer #follow-us .box-body .list-social li {
    margin-right: 20px;

}

#wp-footer #footer #follow-us .box-body .list-social li a {
    font-size: 40px;
    display: contents;
}

#wp-footer #footer #follow-us .box-body .list-social li:hover a {
    color: #dca447;
}

#wp-copyright {
    margin-top: 40px;
    background: #eeeeee;
    text-align: center;
}

#wp-copyright p {
    margin-bottom: 0;
}



#toggle {
    color: black;
    text-align: right;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    display: none;
}


/* SMALL SCREEN */

@media screen and (max-width: 450px) {
    #header {
        flex-direction: row;
        position: static;
        align-items: center;
    }

    #header #form-search {
        order: 1;
        justify-content: flex-end;
    }

    #header #form-search input {
        position: absolute;
        display: none;
        left: 191px;
        font-size: 9px;
    }

    #header #form-search input[type=text]:focus {
        width: 130px;
    }


    #header #form-search button {
        position: relative;
    }


    #header #toggle {
        display: inline-block;
        order: 2;
    }

    #header #nav {
        display: none;
        position: absolute;
        top: 85px;
        right: -10px;
        z-index: 3;
    }

    #header #nav .main-menu {
        display: block;
    }

    #header #nav .main-menu li {
        margin-right: 0;
    }

    #header .slogan .box-2 {
        flex-wrap: wrap;
    }

    #content .slogan .box-2 a {
        width: 100%;
        height: 115px;
        border-right: none;
        border-bottom: 1px solid #eeeeee;
        height: 79px;
    }

    #content .banner {
        margin-top: 0;
    }

    #content .banner .banner-text {
        bottom: 0;
        font-size: 9px;
    }

    #content .banner h1 {
        font-size: 9px;
    }

    #content .slogan .box-2 {
        flex-direction: column;
    }

    #content .slogan .box-2 a div {
        font-size: 9px;
    }

}