.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.container {
    width: 1140px;
    margin: 0px auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}